[Unit]
Description=Websocket listener for coffee hardware
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/coffee-light/mySocket.py
WorkingDirectory=/opt/coffee-light
Restart=always
User=root

[Install]
WantedBy=multi-user.target
